
@{
    ViewBag.Title = "Confimation Sent";
}

    <div class="container">
        <div class="row">
            <div class="col text-center h2">
                @ViewBag.Title
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col text-center h3">
                Thank you for confirming your email.
            </div>
        </div>

    </div>







